In [2]:
# To get top movers at any given day.
# There are two way to define a top movers.
# 1. By today's price change. That is today's close price minus today's open price.
# 2. By compare today's close price with yesterday's close price.

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from tqdm import tqdm
import multiprocessing
from multiprocessing import Pool

In [24]:
Data_Path = '/home/arthur/Developer/Trading/Data/Daily/Production'
Fundation_Path = '/home/arthur/Developer/Trading/Data/Fundamental/Production'
Working_Path = os.getcwd()

In [35]:
def get_today_change_and_today_to_yesterday_change(file):
    symobol = os.path.splitext(file)[0]
    try:
        df = pd.read_csv(os.path.join(Data_Path, file))
        df = df.sort_values(by='datetime', ascending=False)
        if df.loc[0]['datetime'] != "2021-12-06 01:00:00":
            return None
        today_change = df['close'].iloc[0] - df['open'].iloc[0]
        today_change_by_percentage = today_change / df['open'].iloc[0] * 100
        today_to_yesterday_change = df['close'].iloc[0] - df['close'].iloc[1]
        today_to_yesterday_change_by_percentage = today_to_yesterday_change / df['close'].iloc[1] * 100
          # Get volume of yesterday
        yesterday_volume = df.iloc[0]['volume'].mean()
        # Get volume average of 3 days
        volume_3_days = df.iloc[0:3]['volume'].mean()
        # Get volume of 5 days
        volume_5_days = df.iloc[0:5]['volume'].mean()
        # Get volume of 15 days
        volume_15_days = df.iloc[0:15]['volume'].mean()
        # Get volume of 30 days
        volume_30_days = df.iloc[0:30]['volume'].mean()
        # Append to result
        data = {
            'symbol': symobol,
            'today_change': today_change,
            'today_change_by_%': today_change_by_percentage,
            'today_to_yesterday_change': today_to_yesterday_change,
            'today_to_yesterday_change_by_%': today_to_yesterday_change_by_percentage,
            'yesterday_volume': yesterday_volume,
            'volume_3_days': volume_3_days,
            'volume_5_days': volume_5_days,
            'volume_15_days': volume_15_days,
            'volume_30_days': volume_30_days
        }
        return data
    except:
        return None

In [36]:
file_list = [f for f in os.listdir(Data_Path) if f.endswith('.csv')]
symbol_list = [os.path.splitext(f)[0] for f in file_list]
pd.options.display.float_format = '{:.2f}'.format
mover_list = pd.DataFrame
pool = Pool(processes=os.cpu_count())
result = [f for f in tqdm(pool.imap_unordered(get_today_change_and_today_to_yesterday_change, file_list), total=len(file_list)) if f is not None]
pool.close()
pool.join()

mover_list = pd.DataFrame(result)
mover_list.to_csv(os.path.join(Working_Path, 'mover_list.csv'), index=False)

100%|██████████| 12285/12285 [00:05<00:00, 2061.30it/s]

In [37]:
mover_list.sort_values(by='today_change_by_%', ascending=False, inplace=True)

In [40]:
mover_list.head(10)

,symbol,today_change,today_change_by_%,today_to_yesterday_change,today_to_yesterday_change_by_%
10328,ISIG,8.45,128.03,10.11,204.66
5097,NVNOW,0.14,73.72,0.14,75.39
8610,QK,0.17,63.98,0.09,26.38
3064,CPIX,2.71,63.87,2.35,51.20
6054,CRZNW,0.31,44.29,0.17,20.25
2232,OXBRW,0.14,39.40,0.10,25.76
3985,BTBDW,0.24,37.17,-0.11,-10.84
1287,AHI,1.60,36.20,1.42,30.87
587,KLR+,0.61,33.74,0.41,20.50
10072,ALACW,0.07,30.72,0.00,1.12

In [38]:
df = pd.read_csv(os.path.join(Data_Path, 'AAPL.csv'))

In [34]:
df

,open,high,low,close,volume,timestamp,datetime
0,164.29,167.88,164.28,165.32,107496982,1638770400000,2021-12-06 01:00:00
1,164.02,164.96,159.72,161.84,118023116,1638511200000,2021-12-03 01:00:00
2,158.74,164.20,157.80,163.76,136739170,1638424800000,2021-12-02 01:00:00
3,167.48,170.30,164.53,164.77,152423000,1638338400000,2021-12-01 01:00:00
4,159.99,165.52,159.92,165.30,174048060,1638252000000,2021-11-30 01:00:00
...,...,...,...,...,...,...,...
9305,0.13,0.13,0.12,0.12,141120000,474012000000,1985-01-08 01:00:00
9306,0.13,0.13,0.13,0.13,170912000,473925600000,1985-01-07 01:00:00
9307,0.13,0.13,0.12,0.13,137267200,473666400000,1985-01-04 01:00:00
9308,0.13,0.13,0.13,0.13,166611200,473580000000,1985-01-03 01:00:00
9309,0.13,0.13,0.12,0.12,175302400,473493600000,1985-01-02 01:00:00