In [1]:
import time_utilities
import pandas as pd
import numpy as np
import os
import TD_API
import Paths
import time
import api_keys
import requests
import utilities
from tqdm import tqdm

## First Test at 7:00PM. No update.

In [3]:
def get_eod_data_from_start(symbol):
	#Define payload
	payload = {
		'apikey': api_keys.APIKEY_DAILY,
		'periodType' : 'ytd',
        'period' : '1',
        'frequencyType': 'daily',
        'frequency':'1',
		'startDate': '21600000' #This is 1970-01-01
	}
	endpoint = TD_API.get_price_history_endpoint(symbol)

	#Get data
	try:
		time.sleep(0.6)
		td_response = requests.get(url=endpoint, params=payload)
		content = td_response.json()
		df = pd.DataFrame(content['candles'])
		#df.to_csv(os.path.join(updates_folder, symbol + '.csv'), index=False)
		return df
	except:
		print(symbol + " failed.")

In [4]:
AAPL = get_eod_data_from_start('AAPL')
AAPL

            open        high         low       close     volume       datetime
0       0.130023    0.130023    0.124442    0.124442  175302400   473493600000
1       0.126674    0.130023    0.126674    0.126674  166611200   473580000000
2       0.126674    0.127232    0.125000    0.126674  137267200   473666400000
3       0.126674    0.127232    0.126116    0.126116  170912000   473925600000
4       0.126116    0.127232    0.125000    0.125000  141120000   474012000000
...          ...         ...         ...         ...        ...            ...
9299  157.650000  161.020000  156.532800  160.550000  117305597  1637301600000
9300  161.680000  165.700000  161.000000  161.020000  117467889  1637560800000
9301  161.120000  161.800000  159.060100  161.410000   96041899  1637647200000
9302  160.750000  162.140000  159.640000  161.940000   69463623  1637733600000
9303  159.565000  160.450000  156.360000  156.810000   76959752  1637906400000

[9304 rows x 6 columns]

In [7]:
time_utilities.epoch_to_eastern(AAPL.iloc[-1]['datetime'])

'2021-11-26 01:00:00'

In [10]:
old_AAPL = pd.read_csv(os.path.join(Paths.Daily_Data_Production_Folder, 'AAPL.csv'))
old_AAPL.iloc[0]

open                     159.565
high                      160.45
low                       156.36
close                     156.81
volume                  76959752
timestamp          1637906400000
datetime     2021-11-26 01:00:00
Name: 0, dtype: object